<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>audio</string>
	</array>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>Guidance</key>
		<string>Precise Location lets ThatWay point the compass and call out turns at the right moment. It is only used while you are using the app or guiding a trip.</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito.ttf</string>
	</array>
</dict>
</plist>
